/* Exact Hily Bottom Banner */
.bottomBanner {
  padding: 100px 0 60px;
  background: #9677ff url("/seo_bg.webp") center no-repeat;
  background-size: contain;
}
@media(max-width:1024px) { .bottomBanner { padding-top:60px; } }
@media(max-width:767px) {
  .bottomBanner {
    /* Use mobile bg in real life, fallback to standard */
    background: #9677ff url("/seo_bg.webp") center no-repeat;
    background-size: contain;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
@media(max-width:1680px) { .wrapper { max-width:1400px; } }
@media(max-width:1440px) { .wrapper { padding:0 30px; } }
@media(max-width:767px) { .wrapper { padding:0 20px; } }

.bottomBanner h2 {
  font-size: 130px; font-weight: 800; line-height: 117px;
  text-align: left; color: #fff;
  max-width: 1220px; margin-bottom: 100px; margin-top: 0; width: 100%;
}
@media(max-width:1280px) { .bottomBanner h2 { font-size:110px; line-height:1em; } }
@media(max-width:1024px) { .bottomBanner h2 { font-size:80px; width:auto; margin:0 24px 50px; } }
@media(max-width:767px) { .bottomBanner h2 { font-size:56px; margin:0 0 30px; } }

.bottomBanner h2 b {
  color: #000;
}

.bottomBanner p {
  margin: 30px auto;
  font-size: 24px; line-height: 36px; font-weight: 400;
  color: #fff;
}
@media(max-width:767px) { .bottomBanner p { font-size:20px; line-height:30px; } }

.btn {
  margin-top: 40px; display: flex;
}
